<footer class="backdrop-filter flex-center">
    <div class="colGroup flex-center">
        <div class="col">
            <p>"Trang web cá nhân của Nguyễn Chánh Hiệp - Nơi chia sẻ về đam mê và hành trình công nghệ. Những câu chuyện và bài học từ tớ hơn thế là những gì tới đã làm được cho đến ngày hôm nay. Một chuyến đi bao giờ cũng có nhiều chông gai, nhưng chỉ cần có cố gắng thì sẽ vượt qua thôi! Cố lên nhé bạn của tớ!"</p>
        </div>
        <div class="col">
            <p>Liên kết các phần trong trang:</p>
            <ul>
                <li><a href="#">— Trang chủ</a></li>
                <li><a href="#">— Giới thiệu</a></li>
                <li><a href="#">— Dự án</a></li>
                <li><a href="#">— Liên hệ</a></li>
            </ul>
        </div>
        <div class="col flex-center">
            <p>Mọi vấn đề xin liên hệ qua các thông tin bên dưới (Lưu ý: Liên hệ qua zalo hoặc số điện thoại để được phản hồi nhanh nhất từ tớ nhé!):</p>
            <ul class="flex-center">
                <li class="social"><a href="#">
                    <img src="assets/images/footer/Facebook_Logo_(2019).png" alt="Facebook">
                </a></li>
                <li class="social"><a href="#">
                    <img src="assets/images/footer/Icon_of_Zalo.svg.webp" alt="Zalo">
                </a></li>
                <li class="social"><a href="#">
                    <img src="assets/images/footer/github.png" alt="Github">
                </a></li>
                <li class="social"><a href="#">
                    <img src="assets/images/footer/telephone.png" alt="Phone">
                </a></li>
            </ul>
        </div>
        <div class="col"><p>&copy; 2024 Nguyễn Chánh Hiệp. All rights reserved.</p></div>
    </div>
    
</footer>