
<header class="flex-center">
    <div class="info flex-center">
        <img src="assets/images/avatar.jpg" alt="admin">
        <div class="-detail-info">
            <p>Nguyễn Chánh Hiệp</p>
            <span>Developer</span>
        </div>
    </div>
    <nav class="flex-center border backdrop-filter">
        <ul class="flex-center">
            <li><a href="index.html">Trang chủ</a></li>
            <li><a href="intro.html">Giới thiệu</a></li>
            <li><a href="#">Dự án</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </nav>

    <div class="tips">
        <div class=" flex-center" onclick="toggleTipsBox()">
            <i class="fa-brands fa-gratipay"></i>
            <p>Hỗ trợ</p>
        </div>
        
        <div class="tipsBox backdrop-filter border" id="tip">
            <img src="assets/images/donate/QR-VCB.jpg" alt="Donate me!">
            <p>Donate cho mình tại đây nhé!</p>
            <p>NGUYEN CHANH HIEP</p>
            <p>1031695037</p>
        </div>

    </div>

</header>