
<header class="flex-center">
    <div class="info flex-center">
        <img src="../assets/images/hisu-lee-2qvxIr_DXGo-unsplash.jpg" alt="admin">
        <div class="-detail-info">
            <p>Nguyễn Chánh Hiệp</p>
            <span>Developer</span>
        </div>
    </div>
    <nav class="flex-center border backdrop-filter">
        <ul class="flex-center">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Dự án</a></li>
            <li><a href="#">Liên hệ</a></li>
        </ul>
    </nav>

    <div class="tips flex-center">
        <i class="fa-brands fa-gratipay"></i>
        <p>Hỗ trợ</p>
    </div>

</header>