html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
==============================CSS for pages================================
*/

* {
    box-sizing: border-box;
}

:root {
    --text: #c6d2fa;
    --text-opacity: #c6d2fa44;
    --shadow-text-opacity: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(198, 210, 250, 0.4) 83%);
    --primary-color: #00020D;
    --second-color: #27e6b9;
    --highlight-color: #75ff35;
}

body {
    position: relative !important;
    background: var(--primary-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


/*
==============================CSS GROUP================================
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.border {
    border: 1px solid var(--text-opacity);
    border-top: 1px solid var(--shadow-text-opacity);
    border-radius: 2rem;
}

.backdrop-filter {
    backdrop-filter: blur(0.5rem) brightness(120%);
}

.textGradient {
    background-image: linear-gradient(80deg, #00c9ff 0%, #92fe9d 100%);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.textShadow {
    text-shadow: #FC0 1px 0 10px;
}

.objectShadow {
    filter: drop-shadow(0.8rem 0 0.8rem var(--primary-color));
}

/* From Uiverse.io by catraco */
.btn {
    --color: #ffcd39;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
}

.btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: black;
    padding: 1rem;
}

.btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid black;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
}

.btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
}

.btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
}

.btn:hover svg {
    width: 25px;
    transform: translateX(0%);
    opacity: 1;
}

.btn:active {
    filter: brightness(1.4);
}

/*
==============================CSS for HEADER================================
*/

header {
    height: 8rem;
    width: 100vw;
    font-size: 1.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: 500;
    background-color: linear-gradient(180deg, rgba(0, 2, 13, 1) 67%, rgba(255, 255, 255, 0) 100%) !important;
    color: var(--text);
    justify-content: space-between !important;
    position: fixed;
    z-index: 1000000;

    & .info {
        height: 90%;
        width: 20rem;
        font-size: 1rem;
        transition: all 400ms ease-in-out;

        & img {
            height: 4rem;
            width: 4rem;
            border-radius: 5rem;
            background-position: center center;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        & .-detail-info {
            padding-left: 1rem;
        }

        & p {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
        }

        & span {
            font-size: 1rem;
            color: var(--highlight-color);
        }

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }
    }

    & nav {
        width: 45rem;
        height: 4.5rem;
        backdrop-filter: blur(0.9rem) !important;
    }

    & ul,
    li {
        width: 45rem;
        height: 100%;
        display: grid;
        place-items: center;
        transition: all 400ms ease-in-out;

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }

        &:hover> :not(:hover) {
            filter: blur(0.5rem);
        }
    }


    & ol,
    li {
        list-style: none;
    }

    & .tips {
        height: 3rem;
        width: 20rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 400ms ease-in-out;

        & p {
            margin-left: 1rem;
            font-weight: 500;
        }

        & i {
            font-size: 2rem;
            color: var(--highlight-color);
        }

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }

        & .tipsBox {
            position: absolute;
            top: 8rem;
            right: 3rem;
            height: 25rem;
            width: 25rem;
            line-height: 2rem;
            text-align: center;
            background-color: var(--text-opacity);
            display: none;

            & img {
                height: 15rem;
                width: 15rem;
                object-fit: contain;
                margin-top: 3rem;
            }
        }

        & .tipsBox.show {
            display: block;
        }
    }
}


/*
=============================CSS for FOOTER============================
*/

.footer {
    height: 20rem;
    width: 100vw;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5rem;
    text-indent: 1.5rem;
    color: var(--text);
    text-align: justify;
    position: absolute;
    bottom: -1;



    & .colGroup {
        height: 13rem;
        width: 102.7rem;
        margin: 0 auto;
        flex: 1;
        flex-wrap: wrap;



        & .col {
            height: 95%;
            width: 20%;
            padding: 1rem;
        }

        & .col:last-child {
            flex-basis: 100%;
            height: 3rem;
            display: grid;
            place-items: center;
        }

        & .col:nth-of-type(2) {
            & ul>li {
                line-height: 2rem;
                font-weight: 400;
            }
        }

        & .col:nth-of-type(3) {
            flex-direction: column;
            text-indent: 0;

            & img {
                margin: 1rem;
                height: 3rem;
                width: 3rem;
                object-fit: contain;
                background-position: center center;
            }
        }
    }

}


/*
==============================CSS for MAIN home=========================
*/
main {
    width: 102.7rem;
    height: 72rem;
    margin: 0 auto;
    position: relative;

    & .home {
        width: 102.7rem;

        & img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            top: 0;
        }

        & .hello {
            position: absolute;
            top: 10rem;
            height: 30rem;
            width: 102.7rem;
            flex-direction: column;
            color: var(--text);

            & .infoIndex {
                padding: 0.5rem;
                width: 10rem;
                margin-bottom: 3rem;
                justify-content: space-around;

                & i {
                    color: var(--highlight-color);
                }
            }

            & .textHello {
                text-align: center;
                font-size: 4rem;
                line-height: 5rem;
                font-weight: 600;
            }
        }

        & .detailMain {
            position: absolute;
            top: 40rem;
            width: 102.7rem;
            height: 25rem;
            justify-content: space-between !important;

            & .detailMain-left,
            .detailMain-right {
                height: 25rem;
            }

            & .detailMain-left {
                width: 28%;

                & img {
                    position: absolute;
                    top: -3.2rem;
                    height: 28rem;
                    width: 100%;
                    object-fit: contain;
                }

                & p {
                    position: absolute;
                    top: 10rem;
                    left: 2rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            & .detailMain-right {
                width: 70%;
                padding: 2rem;
                font-size: 1.8rem;
                font-weight: 500;
                color: white;
                text-align: center;
                line-height: 2.5rem;
                flex-direction: column;
                text-shadow: 1px 1px 4px var(--primary-color);

                & p:last-child {
                    font-size: 1.3rem;
                    line-height: 2rem;
                    font-weight: 300;
                    margin-top: 2rem;
                }

            }
        }

        & .btnHome {
            position: absolute;
            bottom: -5rem;
            font-size: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/*
==========================CSS FIX MOBILE AND TABLET============================
*/

@media only screen and (max-width:1203px) and (min-width:740px) {
    header {
        flex-wrap: wrap;
        width: 100vw;
        height: 11rem;
        align-items: flex-start !important;
        background: var(--primary-color);
        position: fixed;
        padding-top: 1rem;

        & .info {
            height: 4rem;
        }

        & nav {
            position: absolute;
            top: 5.5rem;
            width: 90%;
            font-size: 1.4rem;
        }
    }

    footer {
        background: var(--primary-color);
        font-size: 1rem;
        height: fit-content !important;
        padding: 2rem !important;

        & .colGroup {
            height: 20% !important;
            width: 80% !important;

            & .col {
                width: 60% !important;
                height: fit-content !important;
                padding: 0.5rem;
            }
        }
    }

    main {
        width: 100vw;
        height: 100rem;


        & .home {
            & .hello {
                width: 100vw;
            }

            & .detailMain {
                width: 100vw;
                flex-wrap: wrap;
                height: 52rem;

                & .detailMain-left,
                .detailMain-right {
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }


}

@media screen and (max-width:739px) {
    header {
        background: var(--primary-color);
        left: 0;
        height: 4rem;
        padding: 0;
        width: 100vw;
        justify-content: center !important;
    }

    .tipsBox {
        position: absolute !important;
        right: 10rem !important;
    }

    & nav {
        width: fit-content;
        height: 100%;
        font-size: 1.3rem;
        border: none !important;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    & a,
    li {
        width: fit-content !important;
        margin: 0.5rem;
    }

    & .info {
        position: absolute;
        bottom: -4rem;
        left: 0;
    }

    & .tips {
        position: absolute;
        bottom: -4rem;
        right: -5rem;
        width: 10rem;
    }

    footer {
        background: var(--primary-color);
        font-size: 1rem;
        height: fit-content !important;
        padding: 2rem !important;

        & .colGroup {
            height: 20% !important;
            width: 80% !important;

            & .col {
                width: 100% !important;
                height: fit-content !important;
                padding: 0.5rem;
            }
        }
    }

    main {
        width: 100vw;
        height: 100rem;


        & .home {
            width: 100vw;

            & .hello {
                width: 100vw;

                & .textHello {
                    & p:last-child {
                        font-size: 2rem;
                    }
                }
            }

            & .detailMain {
                width: 100vw;
                flex-wrap: wrap;
                height: 52rem;

                & .detailMain-left,
                .detailMain-right {
                    width: 80%;
                    margin: 0 auto;
                }

                & .detailMain-right {
                    & p {
                        font-size: 1.3rem;
                        line-height: 2rem;
                    }

                    & p:last-child {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}


/*
========================================================INTRO PAGES================================================
*/

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--primary-color);
    overflow: hidden;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #80a975;
    top: 36%;
    left: 47%;
    animation-duration: 19s;
    animation-delay: -23s;
    transform-origin: 4vw 12vh;
    box-shadow: 30vmin 0 4.106230788555436vmin currentColor;
}

.background span:nth-child(1) {
    color: #80a975;
    top: 63%;
    left: 1%;
    animation-duration: 55s;
    animation-delay: -10s;
    transform-origin: -22vw 13vh;
    box-shadow: -30vmin 0 4.69928565454509vmin currentColor;
}

.background span:nth-child(2) {
    color: #80a975;
    top: 92%;
    left: 95%;
    animation-duration: 20s;
    animation-delay: -16s;
    transform-origin: 22vw 10vh;
    box-shadow: -30vmin 0 4.470327246920575vmin currentColor;
}

.background span:nth-child(3) {
    color: #69c20f;
    top: 42%;
    left: 56%;
    animation-duration: 9s;
    animation-delay: -49s;
    transform-origin: -24vw 5vh;
    box-shadow: -30vmin 0 3.9627964105313866vmin currentColor;
}

.background span:nth-child(4) {
    color: #69c20f;
    top: 64%;
    left: 91%;
    animation-duration: 51s;
    animation-delay: -48s;
    transform-origin: 1vw -13vh;
    box-shadow: 30vmin 0 4.615660358100842vmin currentColor;
}

.background span:nth-child(5) {
    color: #69c20f;
    top: 99%;
    left: 38%;
    animation-duration: 40s;
    animation-delay: -14s;
    transform-origin: -8vw -1vh;
    box-shadow: 30vmin 0 4.531323659153945vmin currentColor;
}

.background span:nth-child(6) {
    color: #69c20f;
    top: 85%;
    left: 32%;
    animation-duration: 26s;
    animation-delay: -3s;
    transform-origin: 15vw 24vh;
    box-shadow: -30vmin 0 3.961260799981166vmin currentColor;
}

.background span:nth-child(7) {
    color: #69c20f;
    top: 97%;
    left: 74%;
    animation-duration: 53s;
    animation-delay: -36s;
    transform-origin: 25vw -18vh;
    box-shadow: 30vmin 0 4.736360803655585vmin currentColor;
}

.background span:nth-child(8) {
    color: #80a975;
    top: 17%;
    left: 43%;
    animation-duration: 23s;
    animation-delay: -34s;
    transform-origin: -3vw 17vh;
    box-shadow: -30vmin 0 3.8848810799094027vmin currentColor;
}

.background span:nth-child(9) {
    color: #80a975;
    top: 67%;
    left: 84%;
    animation-duration: 7s;
    animation-delay: -10s;
    transform-origin: -14vw -11vh;
    box-shadow: -30vmin 0 4.341935623018635vmin currentColor;
}

.background span:nth-child(10) {
    color: #80a975;
    top: 75%;
    left: 88%;
    animation-duration: 52s;
    animation-delay: -13s;
    transform-origin: 25vw 23vh;
    box-shadow: 30vmin 0 4.62302050781162vmin currentColor;
}

.background span:nth-child(11) {
    color: #69c20f;
    top: 52%;
    left: 36%;
    animation-duration: 47s;
    animation-delay: -3s;
    transform-origin: -5vw 3vh;
    box-shadow: -30vmin 0 4.543994324776023vmin currentColor;
}

.background span:nth-child(12) {
    color: #80a975;
    top: 73%;
    left: 61%;
    animation-duration: 10s;
    animation-delay: -44s;
    transform-origin: 10vw 7vh;
    box-shadow: -30vmin 0 4.092654261388173vmin currentColor;
}

.background span:nth-child(13) {
    color: #80a975;
    top: 61%;
    left: 5%;
    animation-duration: 38s;
    animation-delay: -1s;
    transform-origin: 20vw 24vh;
    box-shadow: -30vmin 0 3.936387327643374vmin currentColor;
}

.background span:nth-child(14) {
    color: #240854;
    top: 95%;
    left: 26%;
    animation-duration: 30s;
    animation-delay: -21s;
    transform-origin: 2vw -11vh;
    box-shadow: -30vmin 0 3.7697747714441787vmin currentColor;
}

.background span:nth-child(15) {
    color: #80a975;
    top: 80%;
    left: 10%;
    animation-duration: 8s;
    animation-delay: -6s;
    transform-origin: -23vw -12vh;
    box-shadow: 30vmin 0 4.2980820798772825vmin currentColor;
}

.background span:nth-child(16) {
    color: #240854;
    top: 47%;
    left: 27%;
    animation-duration: 51s;
    animation-delay: -28s;
    transform-origin: -15vw -22vh;
    box-shadow: -30vmin 0 3.8819007895191184vmin currentColor;
}

.background span:nth-child(17) {
    color: #80a975;
    top: 29%;
    left: 12%;
    animation-duration: 7s;
    animation-delay: -46s;
    transform-origin: -19vw 12vh;
    box-shadow: -30vmin 0 4.0126660944974795vmin currentColor;
}

.background span:nth-child(18) {
    color: #240854;
    top: 52%;
    left: 7%;
    animation-duration: 41s;
    animation-delay: -44s;
    transform-origin: 24vw 14vh;
    box-shadow: -30vmin 0 3.916496999916161vmin currentColor;
}

.background span:nth-child(19) {
    color: #80a975;
    top: 66%;
    left: 65%;
    animation-duration: 45s;
    animation-delay: -30s;
    transform-origin: 1vw 2vh;
    box-shadow: -30vmin 0 4.251453464498327vmin currentColor;
}

.background span:nth-child(20) {
    color: #240854;
    top: 85%;
    left: 35%;
    animation-duration: 11s;
    animation-delay: -7s;
    transform-origin: -16vw 17vh;
    box-shadow: -30vmin 0 3.8354625603715813vmin currentColor;
}

.background span:nth-child(21) {
    color: #80a975;
    top: 8%;
    left: 14%;
    animation-duration: 37s;
    animation-delay: -33s;
    transform-origin: 22vw 21vh;
    box-shadow: 30vmin 0 4.556119780843524vmin currentColor;
}

.background span:nth-child(22) {
    color: #240854;
    top: 6%;
    left: 92%;
    animation-duration: 18s;
    animation-delay: -15s;
    transform-origin: -1vw -18vh;
    box-shadow: -30vmin 0 4.532274075745262vmin currentColor;
}

.background span:nth-child(23) {
    color: #80a975;
    top: 41%;
    left: 45%;
    animation-duration: 8s;
    animation-delay: -11s;
    transform-origin: 11vw -7vh;
    box-shadow: 30vmin 0 3.9043525201396703vmin currentColor;
}

.background span:nth-child(24) {
    color: #69c20f;
    top: 74%;
    left: 77%;
    animation-duration: 46s;
    animation-delay: -32s;
    transform-origin: 9vw 15vh;
    box-shadow: -30vmin 0 4.681586805872486vmin currentColor;
}