html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
==============================CSS for pages================================
*/

* {
    box-sizing: border-box;
}

:root {
    --text: #c6d2fa;
    --text-opacity: #c6d2fa44;
    --shadow-text-opacity: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(198, 210, 250, 0.4) 83%);
    --primary-color: #00020D;
    --second-color: #27e6b9;
    --highlight-color: #75ff35;
    --width-default: 102.7rem;
}

body {
    background: var(--primary-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


/*
==============================CSS GROUP================================
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.border {
    border: 1px solid var(--text-opacity);
    border-top: 1px solid var(--shadow-text-opacity);
    border-radius: 2rem;
}

.backdrop-filter {
    backdrop-filter: blur(0.5rem) brightness(120%);
}

.textGradient {
    background-image: linear-gradient(80deg, #00c9ff 0%, #92fe9d 100%);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.textShadow {
    text-shadow: #FC0 1px 0 10px;
}

.objectShadow {
    filter: drop-shadow(0.8rem 0 0.8rem var(--primary-color));
}

/* From Uiverse.io by catraco */
.btn {
    --color: #ffcd39;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
}

.btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: black;
    padding: 1rem;
}

.btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid black;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
}

.btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
}

.btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
}

.btn:hover svg {
    width: 25px;
    transform: translateX(0%);
    opacity: 1;
}

.btn:active {
    filter: brightness(1.4);
}

.boxShadow {
    box-shadow: 0px 0px 21px 6px rgba(255, 255, 255, 0.37);
    -webkit-box-shadow: 0px 0px 21px 6px rgba(255, 255, 255, 0.37);
    -moz-box-shadow: 0px 0px 21px 6px rgba(255, 255, 255, 0.37);
}

.textShadow {
    text-shadow: 1px 1px 4px var(--primary-color);
}

/*
==============================CSS for HEADER================================
*/

header {
    height: 8rem;
    width: 100vw;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: 500;
    background-color: linear-gradient(180deg, rgba(0, 2, 13, 1) 67%, rgba(255, 255, 255, 0) 100%) !important;
    color: var(--text);
    position: fixed;
    z-index: 1000000;

    & .mid-header {
        height: 100%;
        width: 100%;
        position: relative;
        justify-content: space-between;
    }

    & .info {
        height: 90%;
        width: 20rem;
        font-size: 1rem;
        transition: all 400ms ease-in-out;

        & img {
            height: 4rem;
            width: 4rem;
            border-radius: 5rem;
            background-position: center center;
            background-repeat: no-repeat;
            object-fit: cover;
        }

        & .-detail-info {
            padding-left: 1rem;
        }

        & p {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
        }

        & span {
            font-size: 1rem;
            color: var(--highlight-color);
        }

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }
    }

    & nav {
        width: 45rem;
        height: 4.5rem;
        backdrop-filter: blur(0.9rem) !important;
    }

    & ul,
    li {
        width: 45rem;
        height: 100%;
        display: grid;
        place-items: center;
        transition: all 400ms ease-in-out;

        & a {
            height: 100%;
            width: 100%;
            display: grid;
            place-items: center;
        }

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }

        &:hover> :not(:hover) {
            filter: blur(0.5rem);
        }
    }


    & ol,
    li {
        list-style: none;
    }

    & .tips {
        height: 3rem;
        width: 20rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 400ms ease-in-out;

        & p {
            margin-left: 1rem;
            font-weight: 500;
        }

        & i {
            font-size: 2rem;
            color: var(--highlight-color);
        }

        &:hover {
            color: #fff;
            text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #0fa,
                0 0 82px #0fa,
                0 0 92px #0fa,
                0 0 102px #0fa,
                0 0 151px #0fa;
        }

        & .tipsBox {
            position: absolute;
            top: 8rem;
            right: 3rem;
            height: 25rem;
            width: 25rem;
            line-height: 2rem;
            text-align: center;
            background-color: var(--text-opacity);
            display: none;

            & img {
                height: 15rem;
                width: 15rem;
                object-fit: contain;
                margin-top: 3rem;
            }
        }

        & .tipsBox.show {
            display: block;
        }
    }
}

.space-main {
    height: 10rem;
}


/*
=============================CSS for FOOTER============================
*/

.footer {
    height: 20rem;
    width: 100vw;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5rem;
    text-indent: 1.5rem;
    color: var(--text);
    text-align: justify;
    background-color: var(--primary-color);

    & .colGroup {
        height: 13rem;
        width: var(--width-default);
        margin: 0 auto;
        flex: 1;
        flex-wrap: wrap;



        & .col {
            height: 95%;
            width: 20%;
            padding: 1rem;
        }

        & .col:last-child {
            flex-basis: 100%;
            height: 3rem;
            display: grid;
            place-items: center;
        }

        & .col:nth-of-type(2) {
            & ul>li {
                line-height: 2rem;
                font-weight: 400;
            }
        }

        & .col:nth-of-type(3) {
            flex-direction: column;
            text-indent: 0;

            & img {
                margin: 1rem;
                height: 3rem;
                width: 3rem;
                object-fit: contain;
                background-position: center center;
            }
        }
    }

}


/*
==============================CSS for MAIN home=========================
*/
main {
    width: var(--width-default);
    height: fit-content;
    margin: 0 auto;

    & .home {
        width: var(--width-default);
        width: 72rem;
        position: relative;

        & img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            top: 0;
        }

        & .detailMain {
            width: var(--width-default);
            height: 25rem;
            justify-content: space-between !important;

            & .detailMain-left,
            .detailMain-right {
                height: 25rem;
            }

            & .detailMain-left {
                width: 28%;

                & img {
                    position: absolute;
                    top: -3.2rem;
                    height: 28rem;
                    width: 100%;
                    object-fit: contain;
                }

                & p {
                    position: absolute;
                    top: 10rem;
                    left: 2rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            & .detailMain-right {
                width: 70%;
                padding: 2rem;
                font-size: 1.8rem;
                font-weight: 500;
                color: white;
                text-align: center;
                line-height: 2.5rem;
                flex-direction: column;
                text-shadow: 1px 1px 4px var(--primary-color);

                & p:last-child {
                    font-size: 1.3rem;
                    line-height: 2rem;
                    font-weight: 300;
                    margin-top: 2rem;
                }

            }
        }

        & .btnHome {
            font-size: 1.5rem;
            height: fit-content;
            width: fit-content;
            margin-top: 2rem;
            margin-bottom: 4rem;
            margin-left: auto;
            pointer-events: all;
        }
    }
}

.hello {
    height: 30rem;
    width: var(--width-default);
    flex-direction: column;
    color: var(--text);

    & .infoIndex {
        padding: 0.5rem;
        width: 10rem;
        margin-bottom: 3rem;
        justify-content: space-around;

        & i {
            color: var(--highlight-color);
        }
    }

    & .textHello {
        text-align: center;
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 600;
    }
}

/*
==========================CSS FIX MOBILE AND TABLET============================
*/

@media only screen and (max-width:1203px) and (min-width:740px) {
    header {
        flex-wrap: wrap;
        width: 100vw;
        height: 3rem;
        align-items: flex-start;
        background: var(--primary-color);
        position: fixed;
        padding-top: 0.5rem;
        line-height: 0.5rem;

        & .info {
            height: fit-content;

            & img {
                height: 2.5rem;
                width: 2.5rem;
            }

            & p {
                font-size: 1rem;
            }

            & span {
                font-size: 0.8rem;
            }
        }

        & nav {
            position: absolute;
            top: 2.5rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            font-size: 1.4rem;
        }

        & .tips {
            & i {
                font-size: 1.2rem;
            }
        }
    }

    footer {
        background: var(--primary-color);
        font-size: 1rem;
        height: fit-content !important;
        padding: 2rem !important;

        & .colGroup {
            height: 20% !important;
            width: 80% !important;

            & .col {
                width: 60% !important;
                height: fit-content !important;
                padding: 0.5rem;
            }
        }
    }

    main {
        width: 100vw;
        height: fit-content;

        & .home {

            & .hello {
                width: 100vw;
            }

            & .detailMain {
                width: 100vw;
                flex-wrap: wrap;
                height: 52rem;

                & .detailMain-left,
                .detailMain-right {
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

    .infoMe {
        height: 20rem;
        width: 70rem !important;
        flex-wrap: wrap;
        flex: 1;
        margin: 0 auto;

        & .infoMe-Box:first-of-type {
            width: fit-content;
            height: fit-content;

            & img {
                height: 40rem;
                width: 30rem;
            }
        }

        & .infoMe-Box:last-of-type {
            height: fit-content;
            position: absolute;
            right: 0;

            & p {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }

    }

    .skill {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        width: 100vw !important;
    }

    .bannerSkill {
        height: fit-content;
        width: 100vw !important;
    }

    .infoSkill {
        width: 100vw;
        margin: 0 3rem;
    }

    .infoSkill-soft {
        width: 100vw;
    }
}

@media screen and (max-width:739px) {
    header {
        background: var(--primary-color);
        left: 0;
        height: 4rem;
        padding: 0;
        width: 100vw;
        justify-content: center;

        & .info {
            position: absolute;
            top: 4rem !important;
            left: 0.5rem;
            width: fit-content;
            height: fit-content;

            & img {
                height: 2rem;
                width: 2rem;

            }

            & p,
            span {
                font-size: 0.8rem;
            }
        }

        & .tips {
            position: absolute;
            top: 4rem !important;
            right: 2rem;
            width: fit-content;
            height: fit-content;
            font-size: 0.8rem;
        }

        & nav {
            height: fit-content;
            width: 100%;
            font-size: 1.2rem;
            border: none !important;
            justify-content: space-evenly !important;

            & ul>li {
                width: fit-content;
                padding: 2% 2%;
                border: 1px solid var(--text-opacity);
                border-radius: 2rem;
            }
        }


    }

    footer {
        background: var(--primary-color);
        font-size: 1rem;
        height: fit-content !important;
        padding: 2rem !important;

        & .colGroup {
            height: 20% !important;
            width: 80% !important;

            & .col {
                width: 100% !important;
                height: fit-content !important;
                padding: 0.5rem;
                font-size: 1.1rem;
            }

            & .col:last-child {
                text-align: center;
            }
        }
    }

    main {
        width: 100vw;
        height: fit-content;


        & .home {
            width: 100vw;

            & .hello {
                width: 100vw;

                & .textHello {
                    & p:last-child {
                        font-size: 2rem;
                    }
                }
            }

            & .detailMain {
                width: 100vw;
                flex-wrap: wrap;
                height: 52rem;

                & .detailMain-left,
                .detailMain-right {
                    width: 80%;
                    margin: 0 auto;
                }

                & .detailMain-right {
                    & p {
                        font-size: 1.3rem;
                        line-height: 2rem;
                    }

                    & p:last-child {
                        font-size: 0.9rem;
                    }
                }
            }

            & .btnHome {
                margin: 2rem auto !important;
            }
        }
    }

    .infoMe {
        margin-top: 18rem !important;
        height: fit-content !important;
        width: 100vw !important;
        flex-wrap: wrap;
        flex: 1;
    }

    .infoMe-Box {
        width: 100% !important;
        position: static !important;
    }

    .textHello {
        z-index: 1;
    }

    .infoMe-Box:first-of-type img {
        height: 30rem !important;
        width: 30rem !important;
        object-fit: cover;
        background-position: center center;
        position: absolute !important;
        top: -30rem !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
        z-index: -100;
    }

    .infoMe-Box:last-of-type p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-bottom: 0.5rem !important;

        & span {
            font-size: 1.3rem;
        }
    }


    .skill {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        width: 100vw !important;
    }

    .bannerSkill {
        height: fit-content;
        width: 100vw !important;
    }

    .infoSkill {
        width: 100vw;
        margin: 0 3rem;

        font-size: 1rem;

        & strong {
            font-size: 1.2rem !important;
        }

        & p {
            font-size: 1.2rem !important;
            text-align: justify;
        }
    }

    .infoSkill-soft {
        width: 100vw !important;
        height: fit-content;
    }


    #slideShow {
        height: 10rem !important;
        width: 20rem !important;
        position: relative;
        overflow: hidden;
    }

    .slide-wrapper {
        display: flex;
        /* Quan trọng để tất cả slide nằm ngang */
        width: calc(5 * 20rem) !important;
        /* 5 là số lượng slide */
        animation: slide 10s ease infinite;
        /* Thời gian chạy */
    }

    .slide {
        flex: 0 0 auto;
        /* Đảm bảo mỗi slide chiếm không gian cố định */
        width: 10rem !important;
        height: 20rem !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
    }

    /* Animation keyframes */
    @keyframes slide {
        0% {
            transform: translateX(0);
            /* Hình 1 */
        }

        15% {
            transform: translateX(0);
            /* Hình 1 */
        }

        25% {
            transform: translateX(-20rem);
            /* Hình 2 */
        }

        30% {
            transform: translateX(-20rem);
            /* Hình 2 */
        }

        45% {
            transform: translateX(-40rem);
            /* Hình 3 */
        }

        50% {
            transform: translateX(-40rem);
            /* Hình 3 */
        }

        65% {
            transform: translateX(-60rem);
            /* Hình 4 */
        }

        75% {
            transform: translateX(-60rem);
            /* Hình 4 */
        }

        80% {
            transform: translateX(-80rem);
            /* Hình 5 */
        }

        95% {
            transform: translateX(-80rem);
            /* Hình 5 */
        }

        100% {
            transform: translateX(0);
            /* Quay về hình đầu */
        }
    }


    .infoSkill-soft-slide {
        width: 100%;
        height: fit-content;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    .popup-soft-skill {
        height: 3rem !important;
        width: 15rem !important;
        padding-right: 1rem;
        background-color: var(--highlight-color);
        border-radius: 2rem;
        justify-content: space-between;
        position: absolute;
        top: 10%;
        left: 5% !important;

        & p {
            font-size: 1rem;
            font-weight: 600;
            color: var(--primary-color);
        }

        & .icon-popup {
            height: 3rem !important;
            width: 3rem !important;
            background-color: red;
            color: var(--highlight-color);
            font-size: 1.2rem;
            font-weight: 800;
            border-radius: 2rem;
            display: grid;
            place-items: center;
        }
    }


    .infoSkill-soft-content {
        height: fit-content;
        width: 100% !important;
        text-align: left;

        & .soft-name,
        .soft-name-content {
            font-size: 1rem !important;
            font-weight: 400;
            color: white;
        }

        & .soft-name {
            font-size: 1.2rem !important;
            text-indent: 3rem;
            color: var(--text);
            font-weight: 700;
        }

        & .soft-name-content {
            text-align: justify;
            line-height: 2rem;
        }
    }
}


/*
========================================================INTRO PAGES================================================
*/

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.infoMe {
    margin-top: 5rem;
    height: 34rem;
    width: var(--width-default);
    color: var(--text);
    position: relative;

    & .infoMe-Box {

        & img {
            position: absolute;
            bottom: 0;
            left: -10%;
            height: 60rem;
            width: 65rem;
            object-fit: cover;
            background-position: center;
            background-size: cover;
        }
    }

    & .infoMe-Box:first-of-type {
        height: fit-content;
        width: 50rem;
    }

    & .infoMe-Box:last-of-type {
        height: fit-content;
        width: 70%;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: justify;
        text-indent: 1.7rem;
        padding: 3rem;

        & p {
            padding-bottom: 1rem;
        }

        & p:first-of-type {
            font-size: 2rem;
            padding-bottom: 2rem;
            text-align: center;

            & span {
                color: var(--text) !important;
            }
        }

        & span {
            font-weight: 600;
            color: var(--second-color);
        }
    }
}

.skill {
    margin-top: 2rem;
    height: fit-content;
    width: var(--width-default);
    font-size: 3rem;
    font-weight: 600;
    color: var(--second-color);
    padding: 3rem 0;
    text-align: center;
    flex-direction: column;

    & p:first-child {
        font-weight: 900;
        color: var(--highlight-color);
    }

    & .infoSkill {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--text);
    }
}


.bannerSkill {
    margin: 2rem 0;
    height: 6rem;
    width: var(--width-default);
    background-color: var(--text);
    overflow: hidden;
    --gap: 1rem;
    gap: var(--gap);
    position: relative;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    min-width: 100%;
    justify-content: space-around;
    animation: scroll 10s linear infinite;
}

.svgLogo {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}



@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.infoSkill ol {
    height: fit-content;
    width: 100%;
    list-style: decimal !important;
    text-align: left;
    font-weight: 200;
    line-height: 2rem;
    padding: 0 5rem;

    & p {
        font-style: italic;
        text-indent: 3rem;
        padding-bottom: 1.5rem;
    }

    & strong {
        font-weight: 500;
        color: var(--second-color);
        font-style: normal;
    }

}

/*---------- soft skill-------*/
.infoSkill-soft {
    height: fit-content;
    width: var(--width-default);
    display: flex;
    flex-wrap: wrap;
}

#slideShow {
    height: 35rem;
    width: 75rem;
    position: relative;
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    /* Quan trọng để tất cả slide nằm ngang */
    width: calc(5 * 75rem);
    /* 5 là số lượng slide */
    animation: slide 10s ease infinite;
    /* Thời gian chạy */
}

.slide {
    flex: 0 0 auto;
    /* Đảm bảo mỗi slide chiếm không gian cố định */
    width: 75rem;
    height: 35rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* Animation keyframes */
@keyframes slide {
    0% {
        transform: translateX(0);
        /* Hình 1 */
    }

    15% {
        transform: translateX(0);
        /* Hình 1 */
    }

    25% {
        transform: translateX(-75rem);
        /* Hình 2 */
    }

    30% {
        transform: translateX(-75rem);
        /* Hình 2 */
    }

    45% {
        transform: translateX(-150rem);
        /* Hình 3 */
    }

    50% {
        transform: translateX(-150rem);
        /* Hình 3 */
    }

    65% {
        transform: translateX(-225rem);
        /* Hình 4 */
    }

    75% {
        transform: translateX(-225rem);
        /* Hình 4 */
    }

    80% {
        transform: translateX(-300rem);
        /* Hình 5*/
    }

    95% {
        transform: translateX(-300rem);
    }

    100% {
        transform: translateX(0);
    }
}

.infoSkill-soft-slide {
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.popup-soft-skill {
    height: 4rem;
    width: 18rem;
    padding-right: 1rem;
    background-color: var(--highlight-color);
    border-radius: 2rem;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 10%;

    & p {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--primary-color);
    }

    & .icon-popup {
        height: 4rem;
        width: 4rem;
        background-color: red;
        color: var(--highlight-color);
        font-size: 1.8rem;
        font-weight: 800;
        border-radius: 2rem;
        display: grid;
        place-items: center;
    }
}

.infoSkill-soft-content {
    height: fit-content;
    width: 100%;
    padding: 0 20%;
    text-align: left;

    & .soft-name,
    .soft-name-content {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
    }

    & .soft-name {
        font-size: 1.7rem;
        text-indent: 3rem;
        color: var(--text);
        font-weight: 700;
    }

    & .soft-name-content {
        text-align: justify;
        line-height: 2rem;
    }
}

/*
=====================================================ERROR PAGE=================================
*/

.error {
    height: fit-content;
    width: 30rem;
    margin: 20% auto;
    text-align: center;
    transition: all 300ms ease-in-out;

    & p {
        font-size: 13rem;
        font-weight: 900;
        color: var(--second-color);
        margin-bottom: 5rem;
    }

    & span {
        font-size: 1.6rem;
        color: var(--highlight-color);
        font-weight: 600;
        line-height: 2rem;
    }

    & hr {
        margin-bottom: 4rem;
    }

    & a {
        font-size: 1.5rem;
        padding: 2rem;
        font-weight: 500;
        color: var(--primary-color);
        border: 1px solid white;
        background-color: var(--second-color);
        transition: all 200ms ease;

        &:hover {
            background-color: var(--highlight-color);
            border-radius: 3rem;
        }
    }
}

/*
===================================== PROJECT PAGE ==================================
*/

.project {
    width: var(--width-default);
    height: fit-content;

    & .project-content {
        width: 100%;
        height: fit-content;
        font-size: 1.3rem;
        font-weight: 500;
        align-items: flex-start;
        border: 1px solid var(--text-opacity);
        margin-bottom: 3rem;

        & .col-name {
            width: 20%;
            height: 100%;
            font-size: 2.5rem;
            font-weight: 800;
            color: var(--highlight-color);
            text-align: center;
            padding: 4rem 0;

            & i {
                padding: 1rem;
            }
        }

        & .project-content-group {
            width: 80%;
            height: fit-content;
            padding: 2rem;
            flex-direction: column;
            border-left: var(--text-opacity) 1px solid;

            & .carousel {
                position: relative;
                height: fit-content;
                width: fit-content;
                padding: 1rem;
                background-color: var(--text-opacity) !important;

                & img {
                    height: 35rem;
                    width: 70rem;
                    object-fit: cover;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                & .prev,
                .next {
                    position: absolute;
                    font-size: 4rem;
                    color: var(--highlight-color);
                    border-radius: 2rem;
                    transition: all 200ms ease;
                    height: 4rem;
                    width: 4rem;
                    display: grid;
                    place-items: center;
                    top: 50%;

                    &:hover {
                        background-color: var(--text-opacity);
                        border: 1px solid var(--highlight-color);
                    }
                }

                & .prev {
                    left: -2.5rem;
                }

                & .next {
                    right: -2.5rem;
                }
            }

            & .content-after {
                height: fit-content;
                width: 80%;
                padding: 2rem 0;
                font-size: 1.4rem;
                font-weight: 400;
                color: white;

                & .content-after-name {
                    font-size: 2.2rem;
                    color: var(--second-color);
                    font-weight: 800;
                    padding: 2rem 0;
                }

                & .content-after-info {

                    & p:first-of-type,
                    p:nth-of-type(2) {
                        font-size: 1.8rem;
                        font-weight: 700;

                        & span {
                            font-weight: 800;
                            color: var(--second-color);
                        }
                    }

                    & p:nth-of-type(2)>a {
                        font-style: italic;
                        font-weight: 400;
                        color: var(--highlight-color);
                    }

                    & p {
                        font-size: 1.8rem;
                        padding: 1rem 0;
                        text-align: justify;
                        text-indent: 3rem;
                        line-height: 2.2rem;
                    }

                }
            }
        }

        & .TaiLieuHocPhan-name {
            font-size: 1.4rem;
            color: var(--highlight-color);
            font-weight: 700;
            line-height: 3rem;
            text-align: center;
            padding: 3rem;

            & span {
                font-size: 2.5rem;
            }
        }

        & .ds-TaiLieuHocPhan {
            font-size: 1.8rem;
            color: var(--text);
            line-height: 3rem;
            list-style: circle !important;
        }
    }
}

.btn-Tailieu {
    position: fixed;
    top: calc(100vh - 70%);
    right: 3%;
    height: 4rem;
    width: 20rem;
    background-color: var(--text-opacity);
    border-radius: 2rem;
    display: block;
    pointer-events: all !important;

    &:hover p {
        color: var(--highlight-color);
    }

    & a {
        justify-content: space-between;
    }

    & .icon {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        background-color: var(--highlight-color);
        color: var(--primary-color);
        font-size: 2rem;
        padding: 1rem;
    }

    & p {
        font-size: 1.4rem;
        color: var(--text);
        padding-right: 1rem;
    }

    & #cancel-tailieu {
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
        color: white;
        background-color: red;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -0.5rem;
        right: -1rem;
        display: none;
    }
}

.btn-Tailieu:hover #cancel-tailieu {
    display: flex;
    /* Hiện dấu X */
}